<<<<<<< HEAD
:root {
  --font-Archivo: "Archivo";
  --font-Bebas: "Bebas";
  --font-Gravitas: "Gravitas";

  --text-color: rgb(250, 250, 250);
  --text-hover-color: rgb(158, 158, 158);
  --bg-color: rgb(0, 0, 0);
  --html-color: rgb(255, 87, 34);
  --css-color: rgb(33, 150, 243);
  --js-color: rgb(255, 235, 59);
  --tailwind-color: rgb(24, 255, 255);
  --figma-color: rgb(40, 53, 147);
  --git-color: rgb(230, 74, 25);
  --github-color: rgb(250, 250, 250);

  --english-color: rgb(190, 21, 21);
  --germany-color: rgb(255, 235, 59);

  --selection-color: rgb(255, 0, 0);
}
=======
:root {
  --font-Archivo: "Archivo";
  --font-Bebas: "Bebas";
  --font-Gravitas: "Gravitas";

  --text-color: rgb(250, 250, 250);
  --text-hover-color: rgb(158, 158, 158);
  --bg-color: rgb(0, 0, 0);
  --html-color: rgb(255, 87, 34);
  --css-color: rgb(33, 150, 243);
  --js-color: rgb(255, 235, 59);
  --tailwind-color: rgb(24, 255, 255);
  --figma-color: rgb(40, 53, 147);
  --git-color: rgb(230, 74, 25);
  --github-color: rgb(250, 250, 250);

  --english-color: rgb(190, 21, 21);
  --germany-color: rgb(255, 235, 59);

  --selection-color: rgb(255, 0, 0);
}
>>>>>>> 2161a7b79cea051ad36a02e03cfe9cf39589a8ec
