@font-face {
  font-family: "Archivo";
  src: url(/Fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Bebas";
  src: url(/Fonts/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gravitas";
  src: url(/Fonts/Gravitas_One/GravitasOne-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--font-Archivo);
  /* background-color: var(--primary-color); */
  overflow-x: hidden;

  color: var(--text-color);
  background-color: var(--bg-color);
  /* height: 300rem; Delete after change */
}

body::selection {
  color: var(--selection-color);
  background-color: var(--text-hover-color);
}




.background__holder {
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  width: 100%;
}
