<<<<<<< HEAD
.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* media screen */

@media (min-width: 380px) {
  .container {
    width: 33rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
=======
.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* media screen */

@media (min-width: 380px) {
  .container {
    width: 33rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
>>>>>>> 2161a7b79cea051ad36a02e03cfe9cf39589a8ec
