<<<<<<< HEAD
.signature {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-hover-color);
  font-family: var(--font-Bebas);
  font-size: 2rem;
}
=======
.signature {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-hover-color);
  font-family: var(--font-Bebas);
  font-size: 2rem;
}
>>>>>>> 2161a7b79cea051ad36a02e03cfe9cf39589a8ec
