.introduction__section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem;
}

.firstname,
.lastname,
.userJob {
  font-family: var(--font-Archivo);
  font-weight: 600;
  font-size: 1.4rem;
}
.info__section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.birthday {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  width: fit-content;
}

.address {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  width: fit-content;
}

.contact {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  width: fit-content;
}
.contact:hover {
  color: var(--text-hover-color);
}
.email {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  width: fit-content;
}
.email:hover {
  color: var(--text-hover-color);
}

.birthday span {
  font-family: var(--font-Bebas);
  font-size: 1.8rem;
}
.address span {
  font-family: var(--font-Bebas);
  font-size: 1.8rem;
}
.contact a span {
  font-family: var(--font-Bebas);
  font-size: 1.8rem;
  cursor: pointer;
}
.email a span {
  font-family: var(--font-Bebas);
  font-size: 1.8rem;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.socials a {
  font-family: var(--font-Bebas);
  font-size: 2.5rem;
  cursor: pointer;
}
.socials a:hover {
  color: var(--text-hover-color);
}

.about-me__title {
  margin: 0.5rem 1rem;
}

/* media screen */

@media (min-width: 380px) {
  .firstname,
  .lastname,
  .userJob {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .socials {
    gap: 10rem;
    margin-top: 3rem;
  }
  .birthday,
  .address,
  .contact,
  .email {
    font-size: 1.6rem;
  }

  .birthday span,
  .address span,
  .contact a span,
  .email a span {
    font-size: 2rem;
  }

  .firstname,
  .lastname,
  .userJob {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .birthday,
  .address,
  .contact,
  .email {
    font-size: 1.8rem;
  }

  .birthday span,
  .address span,
  .contact a span,
  .email a span {
    font-size: 2.2rem;
  }

  .firstname,
  .lastname,
  .userJob {
    font-size: 2.4rem;
  }

  .socials a {
    font-size: 2.7rem;
  }
}
@media (min-width: 992px) {
  .birthday,
  .address,
  .contact,
  .email {
    font-size: 2.2rem;
  }

  .birthday span,
  .address span,
  .contact a span,
  .email a span {
    font-size: 2.5rem;
  }

  .firstname,
  .lastname,
  .userJob {
    font-size: 2.6rem;
  }

  .socials a {
    font-size: 3rem;
  }
}
