@import url("./utils/_variables.css");

@import url("./base/_reset.css");
@import url("./base/_typography.css");

@import url("./layout/_container.css");
@import url("./layout/_avatar.css");
@import url("./layout/_skills.css");
@import url("./layout/_grid.css");
@import url("./layout/_introduction.css");
@import url("./layout/_education.css");
@import url("./layout/_footer.css");
@import url("./layout/_main.css");
@import url("./components/_title.css");
