<<<<<<< HEAD
/* 0️⃣ Utils (هیچ CSS واقعی تولید نمی‌کنن یا حداقلی دارن) */
@import url("./utils/_variables.css");

/* 1️⃣ Vendor (normalize / reset های خارجی) */

/* 2️⃣ Base (reset داخلی + typography) */
@import url("./base/_reset.css");
@import url("./base/_typography.css");

/* 3️⃣ Theme (colors, dark/light) */

/* 4️⃣ Layout (page structure) */
@import url("./layout/_container.css");
@import url("./layout/_avatar.css");
@import url("./layout/_skills.css");
@import url("./layout/_grid.css");
@import url("./layout/_introduction.css");
@import url("./layout/_education.css");
@import url("./layout/_footer.css");
@import url("./layout/_main.css");
@import url("./components/_title.css");

/* 5️⃣ Components */
/* @import url("./components/_buttons.css");
@import url("./components/_card.css"); */

/* 6️⃣ Pages */
=======
/* 0️⃣ Utils (هیچ CSS واقعی تولید نمی‌کنن یا حداقلی دارن) */
@import url("./utils/_variables.css");

/* 1️⃣ Vendor (normalize / reset های خارجی) */

/* 2️⃣ Base (reset داخلی + typography) */
@import url("./base/_reset.css");
@import url("./base/_typography.css");

/* 3️⃣ Theme (colors, dark/light) */

/* 4️⃣ Layout (page structure) */
@import url("./layout/_container.css");
@import url("./layout/_avatar.css");
@import url("./layout/_skills.css");
@import url("./layout/_grid.css");
@import url("./layout/_introduction.css");
@import url("./layout/_education.css");
@import url("./layout/_footer.css");
@import url("./layout/_main.css");
@import url("./components/_title.css");

/* 5️⃣ Components */
/* @import url("./components/_buttons.css");
@import url("./components/_card.css"); */

/* 6️⃣ Pages */
>>>>>>> 2161a7b79cea051ad36a02e03cfe9cf39589a8ec
